#header{
	background: url('../images/header.jpg');
	background-size: cover;
	text-align: center;
	color: white;
}
#header .bg{
	background-color: rgba(0,0,0,0.5);
	vertical-align: middle;
	min-height: 400px;
	margin:0;
	padding: 50px; 
}
.tweets{
	margin: 30px auto;
		.tweet{
			width: 100%;
			.tweet-1{
				width: 40%;
				margin-right: 60%;
				margin-left: 10px;

			}
			.tweet-2{    
				width: 40%;
				margin-right: 10px;
				margin-left: 60%;
			}
		}
	}
#list_pol{
	display: block;
	padding: 30px;
	margin: 30px auto;
	width: 80%;
	.pol-active{
		width: 100%;

	}
	.pol{
		min-width: 250px;
		margin: 30px auto;
		padding:30px;
		border: 1px solid #eee;
		display: inline-block;
		text-align: center;
		position: relative;
		.ava{
			width: 200px;
			height: 200px;
    		margin: 0 auto;
			.avatar{
				border-radius: 100%;
				border-color: 5px solid white;
				width: 100%;
				margin: 0 auto;
			}
		
			.flag{
				width: 20px;
				height: 10px;
				background-color: #000;
				border-radius: 3px;
			}
		}
		.desc{
			.nom{
				font-weight: bold;
				padding: 5px;
			}
			.part{

			}
		}
		.val{
			.icon{

				display: inline-block;

				img{
					width: 40px;
					padding: 5px;
				}
				.icon-xs{
					width: 25px;
				}
				.icon-s{
					width: 30px;
				}
				.icon-m{
					width: 40px;
				}
				.icon-l{
					width: 50px;
				}
				.icon-xl{
					width: 60px;
				}
			}
			.hr{
				width: 1px;
				height: 12px;
				background-color: #eee;
				display: inline-block;
			}
		}
		.votes{
			.vote{

				display: inline-block;
				padding: 5px;
			}
			.hr{
				width: 1px;
				height: 12px;
				background-color: #eee;
				display: inline-block;
			}
		}
		.details{
			width: 100%;

		/*
		    position: absolute;
		    top: 0;
		    left: 280px;
		    z-index: 1;*/
		}
	}
}