div#header
	div.bg
		img(src="./assets/images/twitter.png").logo
		h1 Nuestra democracia
		h3 Conoce cómo reacciona la gente ante los tweets de los políticos. 
div#content
	div.tweets
		div.tweet
			img(src="./assets/images/tweet1.png").tweet-1
		div.tweet
			img(src="./assets/images/tweet2.png").tweet-2
	div#list_pol
		div.pol.pol-active
			div.ava
				img(src="./assets/images/bachelet.png").avatar
				span.flag
			div.desc
				p.nom Michael Bachelet
				p.part Izquierda
			div.val
				div.icon
					img(src="./assets/images/happy.png").icon-happy.icon-xs
				span.hr
				div.icon
					img(src="./assets/images/angry.png").icon-angry.icon-xl
			div.votes
				div.vote.happy
					span 10%
				span.hr
				div.vote.angry
					span 90%
			div.details
				div.item
					blockquote.twitter-tweet(data-lang='es')
						p(lang='es', dir='ltr')
							a(href='https://twitter.com/SolucionadoCL') @SolucionadoCL que no lleguen tus vacaciones sin tu licencia en mano, llámanos
							a(href='https://t.co/pDXqutCjg7') https://t.co/pDXqutCjg7 — maneja santiago (@maneja_santiago) 
							a(href='https://twitter.com/maneja_santiago/status/801533155467546624') 23 de noviembre de 2016
						script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
		div.pol
			div.ava
				img(src="./assets/images/pinera.png").avatar
				span.flag
			div.desc
				p.nom Sebastián Piñera
				p.part Derecha
			div.val
				div.icon
					img(src="./assets/images/happy.png" style="width:'20px'").icon-happy
				span.hr
				div.icon
					img(src="./assets/images/angry.png").icon-angry
			div.votes
				div.vote.happy
					span 10%
				span.hr
				div.vote.angry
					span 90%
		div.pol
			div.ava
				img(src="./assets/images/frei.png").avatar
				span.flag
			div.desc
				p.nom Eduardo Frei
				p.part Izquierda
			div.val
				div.icon
					img(src="./assets/images/happy.png" style="width:'20px'").icon-happy
				span.hr
				div.icon
					img(src="./assets/images/angry.png").icon-angry
			div.votes
				div.vote.happy
					span 10%
				span.hr
				div.vote.angry
					span 90%
		div.pol
			div.ava
				img(src="./assets/images/rlagos.png").avatar
				span.flag
			div.desc
				p.nom Ricardo Lagos
				p.part Izquierda
			div.val
				div.icon
					img(src="./assets/images/happy.png" style="width:'20px'").icon-happy
				span.hr
				div.icon
					img(src="./assets/images/angry.png").icon-angry
			div.votes
				div.vote.happy
					span 10%
				span.hr
				div.vote.angry
					span 90%