
div.profile
	img(src="{{detalleCtrl.infoCandidato.foto}}")
	h1 {{::detalleCtrl.infoCandidato.nombre}}
	h5 {{::detalleCtrl.infoCandidato.partido}}
	div.val
		div.icon
			img(src="./assets/images/happy.png").icon-happy.icon-xl
		div.icon
			img(src="./assets/images/neutro.png").icon-noun.icon-xl
		div.icon
			img(src="./assets/images/angry.png").icon-angry.icon-xl
	div.votes
		div.vote.happy.icon-xl
			span {{::detalleCtrl.infoCandidato.positivos}}
		span.hr
		div.vote.noun.icon-xl
			span {{::detalleCtrl.infoCandidato.neutrales}}
		span.hr
		div.vote.angry.icon-xl
			span {{::detalleCtrl.infoCandidato.negativos}}
		//-button.match Versus
//-div.tweets
	blockquote.twitter-tweet(data-lang='es')
		p(lang='es', dir='ltr') ¡Qué alegría el premio Nobel de Literatura para Bob Dylan! Muchos y gratos recuerdos de mi adolescencia están asociados a su música. — Michelle Bachelet (@mbachelet) 
		a(href='https://twitter.com/mbachelet/status/786534079848124416') 13 de octubre de 2016
	script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
	//- div.temperature
	//- 	img(src="./assets/images/happy.png").icon-happy.icon-m
	//- 	span.barra
	//- 	span.indicador
	//- 	img(src="./assets/images/angry.png").icon-angry.icon-m