/* line 1, /home/dev/app/src/home/home.scss */
#header {
  background: url("../images/header.jpg");
  background-size: cover;
  text-align: center;
  color: white;
}

/* line 7, /home/dev/app/src/home/home.scss */
#header .bg {
  background-color: rgba(0, 0, 0, 0.5);
  vertical-align: middle;
  min-height: 400px;
  margin: 0;
  padding: 50px;
}

/* line 14, /home/dev/app/src/home/home.scss */
.tweets {
  margin: 30px auto;
}
/* line 16, /home/dev/app/src/home/home.scss */
.tweets .tweet {
  width: 100%;
}
/* line 18, /home/dev/app/src/home/home.scss */
.tweets .tweet .tweet-1 {
  width: 40%;
  margin-right: 60%;
  margin-left: 10px;
}
/* line 24, /home/dev/app/src/home/home.scss */
.tweets .tweet .tweet-2 {
  width: 40%;
  margin-right: 10px;
  margin-left: 60%;
}

/* line 31, /home/dev/app/src/home/home.scss */
#list_pol {
  display: block;
  padding: 30px;
  margin: 30px auto;
  width: 80%;
}
/* line 36, /home/dev/app/src/home/home.scss */
#list_pol .pol-active {
  width: 100%;
}
/* line 40, /home/dev/app/src/home/home.scss */
#list_pol .pol {
  min-width: 250px;
  margin: 30px auto;
  padding: 30px;
  border: 1px solid #eee;
  display: inline-block;
  text-align: center;
  position: relative;
}
/* line 48, /home/dev/app/src/home/home.scss */
#list_pol .pol .ava {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
/* line 52, /home/dev/app/src/home/home.scss */
#list_pol .pol .ava .avatar {
  border-radius: 100%;
  border-color: 5px solid white;
  width: 100%;
  margin: 0 auto;
}
/* line 59, /home/dev/app/src/home/home.scss */
#list_pol .pol .ava .flag {
  width: 20px;
  height: 10px;
  background-color: #000;
  border-radius: 3px;
}
/* line 67, /home/dev/app/src/home/home.scss */
#list_pol .pol .desc .nom {
  font-weight: bold;
  padding: 5px;
}
/* line 76, /home/dev/app/src/home/home.scss */
#list_pol .pol .val .icon {
  display: inline-block;
}
/* line 80, /home/dev/app/src/home/home.scss */
#list_pol .pol .val .icon img {
  width: 40px;
  padding: 5px;
}
/* line 84, /home/dev/app/src/home/home.scss */
#list_pol .pol .val .icon .icon-xs {
  width: 25px;
}
/* line 87, /home/dev/app/src/home/home.scss */
#list_pol .pol .val .icon .icon-s {
  width: 30px;
}
/* line 90, /home/dev/app/src/home/home.scss */
#list_pol .pol .val .icon .icon-m {
  width: 40px;
}
/* line 93, /home/dev/app/src/home/home.scss */
#list_pol .pol .val .icon .icon-l {
  width: 50px;
}
/* line 96, /home/dev/app/src/home/home.scss */
#list_pol .pol .val .icon .icon-xl {
  width: 60px;
}
/* line 100, /home/dev/app/src/home/home.scss */
#list_pol .pol .val .hr {
  width: 1px;
  height: 12px;
  background-color: #eee;
  display: inline-block;
}
/* line 108, /home/dev/app/src/home/home.scss */
#list_pol .pol .votes .vote {
  display: inline-block;
  padding: 5px;
}
/* line 113, /home/dev/app/src/home/home.scss */
#list_pol .pol .votes .hr {
  width: 1px;
  height: 12px;
  background-color: #eee;
  display: inline-block;
}
/* line 120, /home/dev/app/src/home/home.scss */
#list_pol .pol .details {
  width: 100%;
  /*
      position: absolute;
      top: 0;
      left: 280px;
      z-index: 1;*/
}
