/* line 1, /home/dev/app/src/home/home.scss */
.tweets {
  display: none;
  margin: 30px auto;
}
/* line 4, /home/dev/app/src/home/home.scss */
.tweets .tweet {
  width: 100%;
}
/* line 6, /home/dev/app/src/home/home.scss */
.tweets .tweet .tweet-1 {
  width: 40%;
  margin-right: 60%;
  margin-left: 10px;
}
/* line 12, /home/dev/app/src/home/home.scss */
.tweets .tweet .tweet-2 {
  width: 40%;
  margin-right: 10px;
  margin-left: 60%;
}

/* line 20, /home/dev/app/src/home/home.scss */
#list_pol {
  display: block;
  padding: 30px;
  margin: 0 auto;
  width: 80%;
}
/* line 25, /home/dev/app/src/home/home.scss */
#list_pol .pol-active {
  width: 100%;
}
/* line 29, /home/dev/app/src/home/home.scss */
#list_pol .pol {
  min-width: 30%;
  margin: 10px;
  padding: 30px;
  border: 1px solid #eee;
  display: inline-block;
  text-align: center;
  position: relative;
}
/* line 37, /home/dev/app/src/home/home.scss */
#list_pol .pol .ava {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
/* line 41, /home/dev/app/src/home/home.scss */
#list_pol .pol .ava .avatar {
  border-radius: 100%;
  border-color: 5px solid white;
  width: 100%;
  margin: 0 auto;
}
/* line 48, /home/dev/app/src/home/home.scss */
#list_pol .pol .ava .flag {
  width: 20px;
  height: 10px;
  background-color: #000;
  border-radius: 3px;
}
/* line 56, /home/dev/app/src/home/home.scss */
#list_pol .pol .desc .nom {
  font-weight: bold;
  padding: 5px;
}
/* line 64, /home/dev/app/src/home/home.scss */
#list_pol .pol .val {
  display: none !important;
}
/* line 66, /home/dev/app/src/home/home.scss */
#list_pol .pol .val .icon {
  display: inline-block;
}
/* line 70, /home/dev/app/src/home/home.scss */
#list_pol .pol .val .icon img {
  width: 40px;
  padding: 5px;
}
/* line 74, /home/dev/app/src/home/home.scss */
#list_pol .pol .val .icon .icon-xs {
  width: 25px;
}
/* line 77, /home/dev/app/src/home/home.scss */
#list_pol .pol .val .icon .icon-s {
  width: 30px;
}
/* line 80, /home/dev/app/src/home/home.scss */
#list_pol .pol .val .icon .icon-m {
  width: 40px;
}
/* line 83, /home/dev/app/src/home/home.scss */
#list_pol .pol .val .icon .icon-l {
  width: 50px;
}
/* line 86, /home/dev/app/src/home/home.scss */
#list_pol .pol .val .icon .icon-xl {
  width: 60px;
}
/* line 90, /home/dev/app/src/home/home.scss */
#list_pol .pol .val .hr {
  width: 1px;
  height: 12px;
  background-color: #eee;
  display: inline-block;
}
/* line 97, /home/dev/app/src/home/home.scss */
#list_pol .pol .votes {
  display: none !important;
}
/* line 99, /home/dev/app/src/home/home.scss */
#list_pol .pol .votes .vote {
  display: inline-block;
  padding: 5px;
}
/* line 104, /home/dev/app/src/home/home.scss */
#list_pol .pol .votes .hr {
  width: 1px;
  height: 12px;
  background-color: #eee;
  display: inline-block;
}
/* line 111, /home/dev/app/src/home/home.scss */
#list_pol .pol .details {
  width: 100%;
  /*
      position: absolute;
      top: 0;
      left: 280px;
      z-index: 1;*/
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* line 125, /home/dev/app/src/home/home.scss */
  #list_pol {
    padding: 30px;
    margin: 0 auto;
    width: 80%;
  }
  /* line 129, /home/dev/app/src/home/home.scss */
  #list_pol .pol-active {
    width: 100%;
  }
  /* line 133, /home/dev/app/src/home/home.scss */
  #list_pol .pol {
    min-width: 200px;
    padding: 30px;
    display: block;
  }
  /* line 137, /home/dev/app/src/home/home.scss */
  #list_pol .pol .ava {
    width: 200px;
    height: 200px;
  }
}
@media (mxn-width: 768px) {
  /* line 146, /home/dev/app/src/home/home.scss */
  #list_pol {
    padding: 10px;
    margin: 0 auto;
    width: 100%;
  }
  /* line 150, /home/dev/app/src/home/home.scss */
  #list_pol .pol-active {
    width: 100%;
  }
  /* line 154, /home/dev/app/src/home/home.scss */
  #list_pol .pol {
    min-width: 100px;
    padding: 10px;
    display: block;
  }
  /* line 158, /home/dev/app/src/home/home.scss */
  #list_pol .pol .ava {
    width: 80%;
    height: 80%;
  }
}
