/* line 1, /Users/gonzaloignaciopincheiraarancibia/Desktop/nodeApps/github/dev-wise/our_democracy_client/src/main/main.scss */
#header {
  background: url("../images/header.jpg");
  background-size: cover;
  text-align: center;
  color: white;
}

/* line 7, /Users/gonzaloignaciopincheiraarancibia/Desktop/nodeApps/github/dev-wise/our_democracy_client/src/main/main.scss */
#header .bg {
  background-color: rgba(0, 0, 0, 0.5);
  vertical-align: middle;
  min-height: 400px;
  margin: 0;
  padding: 50px;
  padding-bottom: 100px;
}
