
<div id="header">
  <div class="bg"><img src="./assets/images/twitter.png" class="logo"/>
    <h1>Nuestra democracia</h1>
    <h3>Conoce cómo reacciona la gente ante los tweets de los políticos. </h3>
  </div>
</div>
<div id="content">
  <div class="tweets">
    <div class="tweet"><img src="./assets/images/tweet1.png" class="tweet-1"/></div>
    <div class="tweet"><img src="./assets/images/tweet2.png" class="tweet-2"/></div>
  </div>
  <div id="list_pol">
    <div class="pol pol-active">
      <div class="ava"><img src="./assets/images/bachelet.png" class="avatar"/><span class="flag"></span></div>
      <div class="desc">
        <p class="nom">Michael Bachelet</p>
        <p class="part">Izquierda</p>
      </div>
      <div class="val">
        <div class="icon"><img src="./assets/images/happy.png" class="icon-happy icon-xs"/></div><span class="hr"></span>
        <div class="icon"><img src="./assets/images/angry.png" class="icon-angry icon-xl"/></div>
      </div>
      <div class="votes">
        <div class="vote happy"><span>10%</span></div><span class="hr"></span>
        <div class="vote angry"><span>90%</span></div>
      </div>
      <div class="details">
        <div class="item">
          <blockquote data-lang="es" class="twitter-tweet">
            <p lang="es" dir="ltr"><a href="https://twitter.com/SolucionadoCL">@SolucionadoCL que no lleguen tus vacaciones sin tu licencia en mano, llámanos</a><a href="https://t.co/pDXqutCjg7">https://t.co/pDXqutCjg7 — maneja santiago (@maneja_santiago) </a><a href="https://twitter.com/maneja_santiago/status/801533155467546624">23 de noviembre de 2016</a></p>
            <script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="pol">
      <div class="ava"><img src="./assets/images/pinera.png" class="avatar"/><span class="flag"></span></div>
      <div class="desc">
        <p class="nom">Sebastián Piñera</p>
        <p class="part">Derecha</p>
      </div>
      <div class="val">
        <div class="icon"><img src="./assets/images/happy.png" style="width:'20px'" class="icon-happy"/></div><span class="hr"></span>
        <div class="icon"><img src="./assets/images/angry.png" class="icon-angry"/></div>
      </div>
      <div class="votes">
        <div class="vote happy"><span>10%</span></div><span class="hr"></span>
        <div class="vote angry"><span>90%</span></div>
      </div>
    </div>
    <div class="pol">
      <div class="ava"><img src="./assets/images/frei.png" class="avatar"/><span class="flag"></span></div>
      <div class="desc">
        <p class="nom">Eduardo Frei</p>
        <p class="part">Izquierda</p>
      </div>
      <div class="val">
        <div class="icon"><img src="./assets/images/happy.png" style="width:'20px'" class="icon-happy"/></div><span class="hr"></span>
        <div class="icon"><img src="./assets/images/angry.png" class="icon-angry"/></div>
      </div>
      <div class="votes">
        <div class="vote happy"><span>10%</span></div><span class="hr"></span>
        <div class="vote angry"><span>90%</span></div>
      </div>
    </div>
    <div class="pol">
      <div class="ava"><img src="./assets/images/rlagos.png" class="avatar"/><span class="flag"></span></div>
      <div class="desc">
        <p class="nom">Ricardo Lagos</p>
        <p class="part">Izquierda</p>
      </div>
      <div class="val">
        <div class="icon"><img src="./assets/images/happy.png" style="width:'20px'" class="icon-happy"/></div><span class="hr"></span>
        <div class="icon"><img src="./assets/images/angry.png" class="icon-angry"/></div>
      </div>
      <div class="votes">
        <div class="vote happy"><span>10%</span></div><span class="hr"></span>
        <div class="vote angry"><span>90%</span></div>
      </div>
    </div>
  </div>
</div>